html {
  height: 100%;

  font: $font-size $font-family;
  color: black;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  min-height: 100%;

  background: $background-color;

  //lock for popup
  &.locked { overflow: hidden;}
}

main { width: 100%; }

.page-content {
  max-width: 1280px;
  margin: 0 auto;
}


//Vertically aligned list
.vert-aligned-list {
  display: flex;
  display: -ms-flexbox;

  .item {
    display: block;

    & > * { display: inline-block; vertical-align: middle}

    //Vertical centering
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

}

section {
  display: block;
  position: relative;

  height: auto;
  padding: 1.2rem;

  box-sizing: border-box;

  overflow: hidden;

  z-index: 0;
}
