button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;


  cursor: pointer;
  background: transparent;

  opacity: .66;
  transition: $default-transition;

  &:hover {
    opacity: 1;
  }
}