// Colors
$red: #ff5252;
$blue: #2c3a4e;
$green: #1bbc9b;
$gray: #575757;

// Transitions
$default-transition: all 0.33s cubic-bezier(0.19, 1, 0.22, 1);

$font-family		: 'Helvetica';
$font-size			: 12px;

$color-text			: #444;
$color-text-bold	: #000;
$color-text-light	: lighten($color-text, 50%);
$color-gray		 	: #575757;
$color-gray-light 	: #f5f5f5;
$color-blue			: #2c3a4e;
$color-dark     : #111c21;
$color-black    : #0b0f11;
$color-light-blue: #00a4ff;
$color-light-green: #23dba7;
$color-light-red:   #f55;
$color-light:    #eaf0f3;
$color-oz-green: #00ff88;

$pad-hor			: 3.2rem;
$pad-vert			: 1.6rem;

$footer-height		: 100px;

$background-color: #f1f1f1;
$font-color: black;
